<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit recusandae esse molestiae debitis eligendi aspernatur cum quas minima mollitia reprehenderit?</p>
    </div>
</section>