<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, necessitatibus voluptas sequi reprehenderit dignissimos illum.</p>
    <hr class = "my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non corporis nostrum accusantium iusto aspernatur nesciunt culpa laboriosam delectus eos? Ea.</p>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class ="btn btn-primary" target="_blank">Half Life 3 confirmado!!!</a>
</div>